:root {
  --yellow: #15558D;
  --orange: #15558D;
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: #15558D;;
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}
.button {
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  transition: all 0.4s ease;
  background: #15558D;;
  box-shadow: 0px 18px 30px 2px rgba(251, 161, 40, 0.32);
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    background: #fff;
    transition: all 0.4s ease;
    color: var(--orange);
    border: 1px solid var(--orange);
  }
}
.button-Opposition {
  display: flex;
  gap: 0.2em;
  border-radius: 10px;
  color: var(--orange);
  font-size: 16px;
  padding: 11px 18px 11px 26px;
  transition: all 0.4s ease;
  background: #fff;
  box-shadow: 0px 18px 30px 2px #15558D;;
  border: 1px solid var(--orange);

  cursor: pointer;
  &:hover {
    background: #15558D;;
    transition: all 0.4s ease;
    color: #fff;
    border: 1px solid transparent;
  }
}
