.appointment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn_book {
    padding: 0.3rem 2.5rem;
    font-size: 1.6rem;
    border-radius: 5px;
    color: #fff;
    background: #15558D;
    margin-top: 3rem;
    border: none;
}

.modal_appointment {
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 60rem;
    /* height: 38rem; */
    background: #8AABF2;
    border-radius: 10px;
}

.modal_title {
    margin: 2rem auto;
    text-align: center;
    font-weight: bold;
    /* background: #2D86FF; */
}

.info_appointment {
    display: flex;
    margin: 1rem 3rem 1rem;
    gap: 2rem;
    align-items: center;
}

.img_doctor {
    width: 130px;
}

.img_doctor>img {
    width: 100%;
    height: 150px;
}

.essential_info {
    display: flex;
    line-height: 2.4rem;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.essential_info>.title {
    width: 15rem;
    font-weight: 700;
}

.essential_info>.colon {
    width: 10px;
    font-weight: 700;
}

.essential_info>.value {
    /* width: 40%;
    font-weight: 700; */
    display: flex;
    gap: 0.5rem;
}

.health-issue {
    line-height: 24px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.health-issue-title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;

}

.health-issue>textarea {
    width: 80%;
    height: 8rem;
    padding: 0.5rem 1rem;
}

.health-issue>textarea {
    overflow-y: scroll;
}

.health-issue>textarea::-webkit-scrollbar {
    width: 0;
}

.btn-modal {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin: 2rem 0 3rem;
}

.btn-modal-confirm {
    width: 12rem;
    height: 4rem;
    font-size: 1.6rem;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background: rgb(247, 251, 18);
}

@media screen and (max-width: 768px) {
    /* html {
        font-size: 55%;
    } */

    .modal_appointment {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 576px) {
    .modal_appointment {
        transform: scale(0.6);
    }
}



/*  */

/* .info_doctor {
    display: flex;
    justify-content: space-between;
}

.info {}

.info_img {}

.info_img>img {
    width: 100%;
    width: 200px;
    height: 300px;
}

.feedback_book {} */


.css_center {
    display: flex;
    justify-content: center;
}